<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel Point Redemption</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&family=Teko:wght@300&family=Train+One&family=Roboto:wght@500&display=swap">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/indexStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="icon" type="image/png" href="img\leonFavicon.png">
</head>
<body>
    <div class="wrapper">
    <div></div>
    <div class="center" >
    <h1> <img class="logo" src="img/logo.png" alt="Learn with Leon Logo" >
       Redeem Channel Points for </h1>
    
        <section class="giveaway">
            <a href="/giveaway"><img class="giveawayImg" src="img/cardRaffle.png" alt="Pokemon Card Giveaway Snapshot"></a>
            
            <!-- <a class="giveawayBtn" href="/giveaway"> Pokemon Card Raffle</a> -->
        </section>
        
        <section class="yolo">
            <a href="/yolo"><img class="workImg" src="img\yolo.png" alt="Work in Progress"></a>
            
            <!-- <a class="yoloBtn" href="/yolo"> Channel Points YOLO</a> -->
        </section>
    </div>
   <div></div>
</div>
    
</body>
</html>