<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Major+Mono+Display&family=Manjari&family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&family=Teko:wght@300&family=Train+One&family=Roboto:wght@500&display=swap">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/yolo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <div class="wrapper">
        <div></div>
        <div class="container">

            <section class="yoloWrapper">
                <div></div>
                <div class="h1Container">
                    <div></div>
                    <div><h1>YOLO</h1></div>
                    <div></div> 
                </div>
                 <div></div>
            </section>

            <div class="h2Container">
                <div></div>
                <div class="h2Result">
                    <div ></div>
                    <div><h2 id="yoloResult"></h2></div>
                    <div></div>
                </div>
                <div></div>
            </div>

            <section class="hintContainer">
                <span>Hint!</span>
                <div class="overlay">
                    <p>Open the inspector and look in the console to see past results.</p>
                </div>

                
               
            </section>
        </div>
        <div></div>
    </div>
<script src="js/yolo.js"></script>

</body>
</html>