/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* LAYOUT
/*******************************************/
/* body{
  float: left;
  width: 100%;
 
} */

img{
  display: block;
  margin: 0 auto;
}

html{
  font-size: 62.5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: turquoise;
}

/* Page head */
h1{
  float: left;
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: 10em;
  font-family: 'Roboto', sans-serif ;
  margin-top: 2%;
  margin-bottom: 2%;
  color: rgb(219, 253, 255);
  text-shadow: 5px 1px rgb(17, 0, 255), 0 0 1em blue;
}
.logo{
  float: left;
  width: 14%;
  margin: 0 43% 0 43%;
}

.wrapper {
  float: left;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

/* bottom half container */
.center{
  float: left;
  width: 100%;
  height: fit-content;
  
}

section{
  float: left;
  width: 47%;
  height: fit-content;
  text-align: center;
  font-size: 5rem;
  padding: 2%;
}

.giveaway{
  margin: 0 1% 0% 14%;
  width: 35%;
}

.giveawayImg {
  float: left;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 50px black;
}

.workImg {
  float: left;
  width: 100%;
  margin: 0 15% 3% 0%;
  border-radius: 20px;
  box-shadow: 0 0 50px black;
}

.yolo{
  margin: 0 2% 0 1%;
  width: 35%;
}

.giveawayImg:hover{
  box-shadow:inset 0 0 90px rgb(226, 10, 10), 0 0 40px bisque;
  width: 102%;
}

.giveawayImg:active{
  box-shadow: 0 0 30px rgb(7, 233, 82);
  filter: brightness(90%);
}
.workImg:hover{
  box-shadow:inset 0 0 4px rgb(27, 27, 27), 0 0 40px bisque;
    width: 102%;
}

.workImg:active{
  box-shadow: 0 0 30px rgb(7, 233, 82);
  filter: brightness(90%);
}

/* MediaQuery */


@media screen and (min-width: 2000px) {
  .wrapper {
  float: left;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}
} 