/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* LAYOUT
/*******************************************/
/* body{
  float: left;
  width: 100%;
 
} */

img{
  display: block;
  margin: 0 auto;
}

html{
  font-size: 62.5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* background */
body{
  background-image: url("/img/detective-pikachu-large.png");
  background-position: 0% .1%;
  background-repeat: no-repeat;
  background-color: slategray;
}

/*  header */
h1{
    color:rgb(248, 39, 39);
    float: left;
    width: 100%;
    text-align: center;
    
    margin-top: 1%;
    margin-bottom: 2%;
    font-weight: 400;
    font-size: 4rem;
    font-family: 'Permanent Marker', sans-serif;
    
}

h1>span{
  margin-left: 2%;
  
}

.pokeLogo{
  
  width: 25%;
}

#main_container{
  float: left;
  width: 80%; 
  margin-left: 10% ;
  height: fit-content;
  
  
}

.fas{
  font-size: 5rem;
  color:white;
  text-decoration: none;
  width: fit-content;
  text-shadow: 0 0 30px deepskyblue;
  margin: 2% 0 0 2%;
  position: absolute;
  border-radius: 100%;
  padding: .5% 1% .5% 1%;
}

.fas:hover{
  text-shadow: 0 0 50px deepskyblue;
  box-shadow: inset 0 0 20px yellow , 0 0 20px yellow;
}

.fas:active{
  font-size: 4.9rem;
}
/* cards table */
.cards{
    border-radius: 0.5rem;
    width: 60%;
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
    color: azure;
    float: left;
    line-height: 3.5rem;
    background-color: rgba(54, 64, 187, .8);
    text-align: center;
    
}

.cards:hover{
  box-shadow: 5px 4px rgb(49, 48, 48, .5), 0 0 60px 5px rgb(54, 64, 187);
}
.card{
  height: 36px;
}

.cardTable{
  border-right: 4px solid yellow;
}

table {
  counter-reset: rowNumber;
}

 table .cardName::before {
 
  display: inline-table;
  counter-increment: rowNumber;
  content: counter(rowNumber); 
  padding-right: 0.5em; 
  text-align: left; 
}  

.cardName{
  text-align: left;
  padding-left: 3rem;
  width: 30%;
}

th{
  border-bottom: 4px solid yellow;
}

tr{
  border-bottom: 2px solid white;
}

.fa {
  margin-right: 8%;
}

.fa:hover{
  box-shadow: 0 0 60px 5px rgb(0, 0, 0);
}

.fa-trash {
  color: red;
}

.fa-trash:active {
  color: rgb(102, 11, 11);
}


.fa-arrow-up:active {
  color: rgb(20, 216, 20);
}

.fa-arrow-down:active{
  color: darkgray;
}

/* contains right two boxes */
.right_container{
  float: right;
  height: fit-content;
  width: 35%;
}

/* add card section */
.cardAdd{
  float: right;
  font-size: 2.5rem;
  width: 100%;
  background-color: rgba(255, 0, 255, 0.4);
  border-radius: .5rem;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  box-shadow: 0 0 60px 5px rgb(15, 15, 15);
}

.cardAdd:hover{
  box-shadow: 5px 4px rgb(49, 48, 48, .2), 0 0 60px 5px rgb(255, 0, 255);
}

.addACard{
  color: yellow;
  text-shadow: 2px 2px 3px 4px black;
  text-align: center;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 5rem;
  margin-bottom: 2%;
}

.inputForm,.submitForm{
  float: left;
  height: 3rem;
  font-size: 1.7rem;
  
  
  border: none;
  border-radius: 2rem;
  text-align: center;
 
}

.inputForm{
  background-color: rgb(0, 191, 255);
  border: 2px solid white;
  margin: 0.5% 25% .5% 25%;
  font-family: 'Teko', sans-serif;
  font-size: 2.5rem;
  width: 50%;
  padding-top: 4%;
  padding-bottom: 3%;
}
.submitForm{
  background-color: rgb(255, 255, 0);
  border: 2px solid deepskyblue;
  margin: 1% 35% .5% 35%;
  font-weight: 800;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 2.5rem;
  width: 30%;
  padding-bottom: 6%;
}
.inputForm:hover{
  box-shadow: 0 0 6px 5px rgb(255, 255, 0, .7);
}
.submitForm:hover{
  box-shadow: 0 0 6px 5px rgb(0, 191, 255);
}

.submitForm:active{
  background-color: rgb(0, 191, 255);
  color: azure;
}

/* Randomizer */
.randomizer{
  float: right;
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: rgba(255, 255, 0, 0.37);
  border-radius: 0.5rem;
  margin-top: 4%;
  box-shadow: 0 0 60px 5px rgb(15, 15, 15);
}

.randomizer:hover{
  box-shadow: 5px 4px rgb(49, 48, 48, .2), 0 0 60px 5px rgb(255, 255, 0);
}

button{
  float: left;
  width: 80%;
  height: 6rem;
  margin: 2% 10% 2% 10%;
  background-color: deepskyblue;
  color: white;
  border: 2px solid white;
  border-radius: 2rem;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 3rem;
}

button:hover{
  box-shadow: 0 0 6px 5px rgb(255, 0, 255, .8);
}

button:active{
  background-color: yellow;
  color: black;
}

.resultingNum{
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 0, 191);
  background-color: yellow;
  border: 4px solid deepskyblue;
  margin-left: 5%;
  margin-right: 5%;
  height: fit-content;
  margin-top: 2%;
  padding: 2%;
  display: none;  
  border-radius: 2rem;
}

/* MediaQuery */
@media screen and (min-width: 2000px) {
  #main_container{
    width: 76%;
    margin-left: 12.5%;
  }
  .submitForm{
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 2300px) {
  #main_container{
    width: 76%;
    margin-left: 15%;
  }
  
}