/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* LAYOUT
/*******************************************/
/* body{
  float: left;
  width: 100%;
 
} */

img{
  display: block;
  margin: 0 auto;
}

html{
  font-size: 62.5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
    background-color: rgb(22, 22, 22);
}

.wrapper {
  float: left;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}

.yoloWrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.h1Container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.h2Result{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  text-align: center;
}

.h2Container{
    height: 59rem;
     width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}

.container{
  float: left;
  width: 100%;
  height: fit-content;
  text-align: center;
}

section{  
    float: left;
    width: 100%;
}

h1{
    font-size: 10rem;
    font-family: 'Poiret One', 'Times New Roman', Times, serif;
    color: darkgoldenrod;
    border-radius: 10px;
    width: fit-content;
    padding: 2%;
    user-select: none;
    box-shadow: 0 0 20px rgb(14, 14, 14);
    margin-bottom: 45%;
    text-align: center;
}

h1:hover{
    background-color: rgb(184, 134, 11);
    color: black;
    box-shadow:inset 0 0 20px rgb(14, 14, 14),  0 0 20px rgb(14, 14, 14) ;
    cursor: pointer;
}


h1:active{
    background-color: rgb(184, 134, 11);
    color: black;
    box-shadow:inset 0 0 40px black,  0 0 20px rgb(14, 14, 14) ;
    cursor: pointer;
    font-size: 9.8rem;
}

h2{
    text-align: center;
    font-size: 45rem;
    height: fit-content;
    background-color:rgb(238, 179, 31) ;
    border-radius: 30px;
    box-shadow: inset 0 0 50px black, 0 0 40px black ;
    font-family: 'teko', sans-serif ;
    user-select: none;
    width: 50rem;
     visibility: hidden;
     padding: 9% 0 0 0;
     text-shadow: 5px 1px rgb(51, 51, 53), 0 0 1em rgb(51, 51, 53);
}

span{
    font-size: 3rem;
    color:rgb(104, 101, 101);
    float: left;
    font-family: 'roboto', sans-serif;
    display: block;
    width: 100%;
    height: fit-content;
    padding: 2%;
    text-align: left;
    padding-left: 0;  
}

span:hover{
    cursor: help;
}

.hintContainer{
   position: relative;
   width: 100%;
   height: fit-content;
   
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow:hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.hintContainer:hover .overlay {
  width: 100%;
}
p{
    font-family: 'Teko' sans-serif;
    font-size: 1.7rem;
    width: fit-content;
    margin-bottom: 5%;
    padding: 1%;
    text-align: center;
    background-color: rgb(169, 169, 169, .8);
    border-radius: 99999px;
    color: rgb(22, 22, 24);
    position: absolute;
    overflow:visible;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow:inset 0 0 10px black;
    color: white;
    cursor:help;
}